@use './variables' as vars;

@use 'sass:map';
@use 'sass:string';

@function rgb-alpha($color, $alpha) {
  @return #{'rgb(' + $color + ' / ' + $alpha + ')'};
}

@mixin glass-bezel($config: ()) {
  $defaults: (
    border-width: 1px,
    border-color: 255 255 255,
    angle: 155deg,

    start-opacity: 1,
    mid-start-opacity: 0,
    mid-end-opacity: 0,
    end-opacity: 1,

    start-pos: 0%,
    mid-start-pos: 35%,
    mid-end-pos: 62%,
    end-pos: 100%
  );

  $cfg: map.merge($defaults, $config);

  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: map.get($cfg, border-width);

    background: linear-gradient(
      map.get($cfg, angle),
      rgb-alpha(map.get($cfg, border-color), map.get($cfg, start-opacity)) map.get($cfg, start-pos),
      rgb-alpha(map.get($cfg, border-color), map.get($cfg, mid-start-opacity))
        map.get($cfg, mid-start-pos),
      rgb-alpha(map.get($cfg, border-color), map.get($cfg, mid-end-opacity))
        map.get($cfg, mid-end-pos),
      rgb-alpha(map.get($cfg, border-color), map.get($cfg, end-opacity)) map.get($cfg, end-pos)
    );

    pointer-events: none;

    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

@mixin home-slide {
  padding-inline: var(--spacing-inline);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-block: 1.6rem;
  flex: 1;
  z-index: 1;
}

// Layout related
@mixin grid-center {
  display: grid;
  place-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-col($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin grid-scroll($grid-width, $snap-align: start) {
  grid-template-columns: initial;
  grid-auto-flow: column;
  grid-auto-columns: $grid-width;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: 0;
  &::-webkit-scrollbar {
    display: none;
  }
  & > * {
    scroll-snap-align: $snap-align;
  }
}

@mixin flex-scroll($child-width: 200px, $snap-align: start) {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  &::-webkit-scrollbar {
    display: none;
  }
  & > * {
    scroll-snap-align: $snap-align;
    flex: 1 0 $child-width;
  }
}
