$bp-xs: 425px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

$font-inter: 'Inter', Arial;
$font-nunito-sans: 'Nunito Sans', Arial;
$font-dongle: 'Dongle', Arial;

:root {
  --spacing-inline: 14.4rem;
  @media screen and (max-width: $bp-xl) {
    --spacing-inline: max(10rem, 46px);
  }
  @media screen and (max-width: $bp-lg) {
    --spacing-inline: max(7rem, 46px);
  }
}
