$bp-xs: 425px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

$font-inter: 'Inter', Arial;
$font-nunito-sans: 'Nunito Sans', Arial;

:root {
  --spacing-inline: 14.4rem;
  --line-spacing: 12rem;
  @media screen and (max-width: $bp-xl) {
    --line-spacing: max(7.6rem, 31px);
    --spacing-inline: max(10rem, 46px);
  }
  @media screen and (max-width: $bp-lg) {
    --line-spacing: max(7rem, 31px);
    --spacing-inline: max(7rem, 46px);
  }
}
